@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

:root {
    --default: "Urbanist", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-out;
}

body {
    background-color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--default);
    color: white;
}

a {
    text-decoration: none;
}